{% extends 'gestion/base.html' %}

{% block contenido %}

<h1>Transacciones Alke Wallet</h1>

<a href="{% url 'crear_transaccion' %}">
    Registrar nueva transacción
</a>

<br><br>

<table border="1" cellpadding="10">

    <tr>
        <th>Cuenta</th>
        <th>Cliente</th>
        <th>Tipo</th>
        <th>Monto</th>
        <th>Descripción</th>
        <th>Fecha</th>
    </tr>

    {% for transaccion in transacciones %}

    <tr>

        <td>
            {{ transaccion.cuenta.numero_cuenta }}
        </td>

        <td>
            {{ transaccion.cuenta.cliente.nombre }}
            {{ transaccion.cuenta.cliente.apellido }}
        </td>

        <td>
            {{ transaccion.get_tipo_display }}
        </td>

        <td>
            ${{ transaccion.monto }}
        </td>

        <td>
            {{ transaccion.descripcion }}
        </td>

        <td>
            {{ transaccion.fecha }}
        </td>

    </tr>

    {% empty %}

    <tr>
        <td colspan="6">
            No hay transacciones registradas.
        </td>
    </tr>

    {% endfor %}

</table>

{% endblock %}