{% extends 'gestion/base.html' %}


{% block contenido %}

<h1>Clientes Alke Wallet</h1>

<a href="{% url 'crear_cliente' %}">
    Crear nuevo cliente
</a>


<table border="1" cellpadding="10">

<tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Acciones</th>
</tr>


{% for cliente in clientes %}

<tr>

<td>
{{ cliente.nombre }}
</td>

<td>
{{ cliente.apellido }}
</td>

<td>
{{ cliente.email }}
</td>

<td>

<a href="{% url 'editar_cliente' cliente.id %}">
Editar
</a>

|

<a href="{% url 'eliminar_cliente' cliente.id %}">
Eliminar
</a>

</td>

</tr>

{% endfor %}


</table>

{% endblock %}